/* Vos customisations des classes de Bootstrap */
html{
    scroll-behavior: smooth;
}

body{
    font-family: "Arvo", sans-serif;
}

.navbar{
    background: #222;
}

.nav-link{
    color: #808080;
}

#home{
    background: url('../images/hero-image.jpg');
    background-size: cover;
    min-height: 600px;
}

.h1{
    font-size: 3.8em;
}

#home p{
    font-size: 1.2em;
}

#learn-btn{
    font-size: 1.9em;
}

hr{
    width: 180px;
}

#get-involved article{
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 200px;
}

#get-involved img{
    width: 90px;
    height: 90px;
}

#get-involved h4{
    margin-top: 15px;
}

footer{
    min-height: 220px;
}

#back-to-top a{
    right: 10px;
    top: calc(50% - 10px);
}

#back-to-top img{
    width: 30px;
    height: 30px;
}

/* Responsive Styling */

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}
